body {
  background-color: #1f2023;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.App {
  text-align: center;
}
/* search system */
.search {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.search input {
  margin-top: 10px;
  height: 40px;
  border-radius: 10px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 7px 1px white;
}
.search input[type="submit"] {
  visibility: hidden;
  cursor: pointer;
}
/* topbar.js */
.favorite:hover {
  text-decoration: underline;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu img {
  height: 50px;
}
.navigation {
  display: flex;
  margin-right: 30px;
}
.navigation li {
  border-radius: 10px;
  padding: 5px 15px;
  height: 33px;
  font-size: 20px;
  text-align: center;
}
.navigation li {
  cursor: pointer;
  margin: 5px;
}
.login {
  background-color: #ff4655;
  box-shadow: 2px 6px 5px black;
}
.login:hover {
  background-color: #c53743;
}
hr {
  height: 1px;
  background-color: #ff4655;
  border: none;
}
/* games.js */
.listTitle {
  display: block;
  width: 100%;
}
.liste {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.liste ul {
  padding: 0;
  margin: 10px;
  max-width: 200px;
  min-height: 250px;
  max-height: 250px;
  overflow: hidden;
  list-style: none;
  position: relative;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.liste img {
  width: 200px;
  min-height: 250px;
  max-height: 250px;
}
.gameTitle {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  text-align: left;
}
