.container {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: 350px;
}

.div1 {
  grid-area: 1 / 5 / 2 / 6;
}
.div2 {
  grid-area: 1 / 4 / 2 / 5;
}
.div3 {
  grid-area: 2 / 4 / 3 / 5;
}
.div4 {
  grid-area: 2 / 5 / 3 / 6;
}
.div5 {
  grid-area: 3 / 4 / 4 / 5;
}
.div6 {
  grid-area: 3 / 5 / 4 / 6;
}
.div7 {
  grid-area: 4 / 4 / 5 / 5;
}
.div8 {
  grid-area: 4 / 5 / 5 / 6;
}
.div9 {
  grid-area: 5 / 4 / 6 / 6;
  overflow: hidden visible;
}
.div10 {
  grid-area: 1 / 1 / 6 / 4;
}
.div10 img {
  border-radius: 10px;
}
.btn {
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.about {
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-info {
  color: #5c5c5c;
}
h2,
h3 {
  text-align: center;
}
.review {
  text-align: center;
  font-size: 40px;
}
